[Unit]
Description=Update Linode DNS records with current IP
ConditionCredential=linode-dns-updater.domain_id

[Service]
Type=oneshot
ExecStart=/usr/libexec/update-linode-dns.sh
DynamicUser=yes
ImportCredential=linode-dns-updater.*

NoNewPrivileges=true
CapabilityBoundingSet=
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
