[Unit]
Description=Update Linode DNS records with current IP
ConditionPathExists=/etc/credstore.encrypted/linode-dns-updater.token

[Service]
Type=oneshot
ExecStart=/usr/libexec/update-linode-dns.sh
DynamicUser=yes
LoadCredentialEncrypted=linode-dns-updater.token:linode-dns-updater.token
LoadCredential=linode-dns-updater.domain_id:linode-dns-updater.domain_id
LoadCredential=linode-dns-updater.a_record_id:linode-dns-updater.a_record_id
LoadCredential=linode-dns-updater.aaaa_record_id:linode-dns-updater.aaaa_record_id
NoNewPrivileges=true
CapabilityBoundingSet=
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
