[Unit]
Description=Update Linode DNS records with current IP
After=network-online.target
Wants=network-online.target

[Timer]
OnActiveSec=30sec
OnUnitActiveSec=24hr

[Install]
WantedBy=timers.target
