[Unit]
Description=Update Linode DNS records with current IP

[Service]
Type=oneshot
ImportCredential=linode-dns-updater.*
ExecStart=/usr/libexec/update-linode-dns
DynamicUser=yes
NoNewPrivileges=true
CapabilityBoundingSet=
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
